*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
    color: $color_rosa;
    display: grid;
}
h2{
    color: $color_celeste;
    font-weight: bolder;
}
